@page "/countries"
@inject IRepository repository

<div class="mb-3">
    <a class="btn btn-primary" href="/countries/create">Nuevo País</a>
</div>
<GenericList MyList="Countries">
    <Body>

        <Pagination
            CurrentPage="currentPage"
            TotalPages="totalPages"
            SelectedPage="SelectedPageAsync"
            />
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>País</th>
                    <th style="width:210px">Provincias</th>
                    <th style="width:210px"></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var country in Countries!)
                {
                    <tr>
                        <td>
                            @country.Name
                        </td>
                        <td>
                            @country.StatesNumber
                        </td>
                        <td>
                            <a href="/countries/edit/@country.Id" class="btn btn-sm btn-warning">Editar</a>
                            <a href="/countries/details/@country.Id" class="btn btn-sm btn-info">Detalle</a>
                            <button class="btn btn-sm btn-danger" @onclick=@(() => DeleteAsync(country))>Borrar</button>

                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </Body>
</GenericList>